<div id="home" class="home-landing intro-header parallax animated fadeInDown">
  <div class="title-wrapper">
    <h1 class="corvett-title">LOS CORVETT</h1>
  </div>
    <div class="arrow-for-down">
        <i class="fa fa-chevron-circle-down fa-3x animated pulse infinite" aria-hidden="true" title="Haz scroll hacia bajo"></i>
    </div>
</div>
<section id="nosotros" class="home-section coco-summary first-section">
  <div>
    <img src="img/home/logo-los-corvett-big.png" alt="Chailate" class="img-responsive big-logo center-block">
  </div>
  <p>
     Somos una agrupación formada para llevar a todos lados nuestra buena música, para dar a conocer nuestro talento, gustos y sentimientos. <br/>Acompañando a todos en su alegría y dolor interpretado en nuestras canciones. 
  </p>
</section>
<section id="integrantes" class="home-section coco-summary second-section">
  <h2>INTEGRANTES</h2>
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/cesar-zarza.png">
            <h3>Cesar Zarza</h3>
            <h4>Voz –Sax Alto</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/miguel-diaz.png">
            <h3>Miguel Díaz</h3>
            <h4>Guitarra eléctrica</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/cesar-vazquez.png">
            <h3>Cesar Vázquez</h3>
            <h4>Teclado</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/tona-garcia.png">
            <h3>Tonalzin García</h3>
            <h4>Sax Alto</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/daniel-parra.png">
            <h3>Daniel Parra</h3>
            <h4>Batería-Percusión</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/luis-buitron.png">
            <h3>Luis Buitrón</h3>
            <h4>Bajo</h4>
          </div>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
          <div class="miembro-banda">
            <img alt="item" src="img/banda/gerardo-velazquez.png">
            <h3>Gerardo Velázquez</h3>
            <h4>Trompeta</h4>
          </div>
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container-->
</section>
<section class="home-section coco-summary special-section parallax">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-home">
          <h2>
            Somos 9 chavos que queremos lograr el éxito en el ámbito musical. 
            <br/><br/>
            ¡No es fácil, pero lo queremos intentar!
          </h2>
        </div>
        <!-- end jumbotron -->
      </div>
    </div>
  </div>
</section>
<section id="eventos" class="home-section coco-summary second-section">
  <h2>PRÓXIMOS EVENTOS</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Plaza Benito Juarez de San Mateo Atenco
            </span>
          </div>
        </div>
      </div>
      <!-- end col show -->
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Foro Xicu
            </span>
          </div>
        </div>
      </div>
      <!-- end col show -->
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Plaza Benito Juarez de San Mateo Atenco
            </span>
          </div>
        </div>
        <!-- end show-item -->
      </div>
      <!-- end col show -->
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Plaza Benito Juarez de San Mateo Atenco
            </span>
          </div>
        </div>
        <!-- end show-item -->
      </div>
      <!-- end col show -->
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Plaza Benito Juarez de San Mateo Atenco
            </span>
          </div>
        </div>
        <!-- end show-item -->
      </div>
      <!-- end col show -->
      <div class="col-md-4">
        <div class="show-item">
          <div class="show-date">
            <h3>17</h3>
            <span>Agosto 2017</span>
          </div>
          <div class="show-details">
            <span class="time">19:30</span>
            <span>
              Plaza Benito Juarez de San Mateo Atenco
            </span>
          </div>
        </div>
        <!-- end show-item -->
      </div>
      <!-- end col show -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<section id="fotos" class="home-section coco-summary first-section">
  <h2>GALERÍA DE FOTOS</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-10.jpg');">
          <img src="img/gallery/img-10.jpg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-6.jpeg');">
          <img src="img/gallery/img-6.jpeg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-3.jpeg');">
          <img src="img/gallery/img-3.jpeg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-9.jpg');">
          <img src="img/gallery/img-9.jpg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>

      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-8.jpeg');">
          <img src="img/gallery/img-8.jpeg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-12.jpeg');">
          <img src="img/gallery/img-12.jpeg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-7.jpeg');">
          <img src="img/gallery/img-7.jpeg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
      <div class="col-md-3 photo-item">
        <a href ng-click="homeCtrl.showModal('img/gallery/img-11.jpg');">
          <img src="img/gallery/img-11.jpg" alt="los-corvett-1" class="img-responsive">
        </a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end gallery section -->
</section>
<section id="contacto" class="home-section coco-summary contact-section contacto">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>CONTACTO</h2>
          <div class="contact-info">
            <ul class="list-unstyled contact-list">
              <li>
                <a href="tel:+5528950655">
                  <i class="fa fa-phone fa-lg" ></i>
                  (045) 55 1731 2825
                </a>
              </li>
              <li>
                <a href="tel:+5528950655">
                  <i class="fa fa-phone fa-lg" ></i>
                  (045) 55 2082 8505
                </a>
              </li>
              <li>
                <a href="mailto:hol@ulisesdafta.com" target="_top">
                  <i class="fa fa-envelope fa-lg"></i>
                   ceduardo_zarza@hotmail.com
                </a>
              </li>
            </ul>
            
            <div class="social-wrapper center-block text-center">  
              <h3>
                ¡Siguenos en nuestras <span>redes sociales!</span>
              </h3>
              <ul class="list-inline">
                <li>
                  <a href="https://www.facebook.com/loscorvett" class="fb-link">
                    <i class="fa fa-facebook fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/los_corvett/" class="ins-link">
                    <i class="fa fa-instagram fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/LosCorvettBand" class="youtube-link">
                    <i class="fa fa-youtube-square fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/LosCorvett" class="tw-link">
                    <i class="fa fa-twitter fa-lg"></i>
                  </a>
                </li>
              </ul>
              <!-- end social-wrapper -->
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- commit for create gh-pages branch -->